name: CI Workflow 
on: [push, pull_request,workflow_dispatch] 
jobs: 
  build: 
    runs-on: self-ubuntu-24.04 
    steps: 
      - name: Checkout repository 
        uses: actions/checkout@v4 
      - name: Compile LaTex document
        run: latexmk -pdf main.tex